/* common styles for basic stuff and typography */

b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}

h1,
h2,
h3 {
  margin: 0 0 0.5em;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6rem;
}

small {
  font-size: 80%;
}

mark {
  background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  color: var(--common-link-color);
}

blockquote,
dl,
ol,
p,
ul {
  margin: 0 0 1.5em;
}

.no-style-btn {
  border: none;
  outline: none;
  background: none;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.underline:hover,
.underline:active {
  text-decoration: none;
}

.monospace {
  font-family: "Roboto Mono", monospace;
}
