.content {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1.3rem;
  margin-bottom: 40px;
  border-radius: 3px;
}

.inner {
  padding: 40px 60px calc(40px - 1.5em) 60px;
}

.image {
  height: 500px;
}

.image-inner {
  height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.light {
  composes: content;
  background: var(--theme-light-text-content-bg-color);
}

.dark {
  composes: content;
  background: var(--theme-dark-text-content-bg-color);
}
